<div class="search-container">
  <div class="blue-div">
    <div class="white-rectangle">
      <div class="row">
        <div class="col-10">
          <div class="input-row">
            <div *ngFor="let input of inputFields" class="input-container">
              <label [for]="input.label" class="input-label">{{
                input.label
              }}</label>

              <input
                *ngIf="input.type === CHIP_TYPES.TEXT"
                class="form-control form-control-sm rounded"
                [(ngModel)]="input.value"
                [placeholder]="input.placeHolder"
              />

              <select
                *ngIf="input.type === CHIP_TYPES.DROPDOWN"
                class="form-control form-control-sm rounded"
                [(ngModel)]="input.value"
              >
                <option *ngFor="let option of input.options" [value]="option">
                  {{ option }}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-2 d-flex justify-content-center align-items-center">
          <button
            mat-flat-button
            class="btn btn-primary search-btn"
            (click)="onSearch()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
