.activities-container {
  margin-bottom: 8vh;
  .mat-expansion-panel-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 2rem;
  }

  .header-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 100%;
  }

  .activity-action,
  .activity-created-by,
  .activity-date {
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .activity-action strong,
  .activity-created-by strong,
  .activity-date strong {
    font-size: 12px;
  }

  .activity-action span,
  .activity-created-by span,
  .activity-date span {
    font-size: 15px;
  }

  .activity-details {
    padding: 15px;
    margin-top: 10px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
  }

  .col {
    flex: 1;
    padding: 5px;
  }

  .key-value {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }

  .key-value strong {
    display: block;
    font-size: 12px;
  }

  .key-value span {
    display: block;
    font-size: 15px;
  }

  .add-activity-btn {
    position: fixed;
    bottom: 8vh;
    right: 20px;
    z-index: 1000;
  }

  .paginator-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}

.last-modified {
  margin-top: 10px;
  padding-top: 10px;
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
}
