<div class="layout">
  <!-- Sidebar -->
  <div class="sidebar pt-5" [class.collapsed]="isCollapsed">
    <button class="toggle-btn" (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>

    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="launchpad">
          <span *ngIf="!isCollapsed" class="text">Launchpad</span>
          <mat-icon class="icon">dashboard</mat-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="employees">
          <span *ngIf="!isCollapsed" class="text">Employees</span>
          <mat-icon class="icon">group</mat-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="departments">
          <span *ngIf="!isCollapsed" class="text">Departments</span>
          <mat-icon class="icon">business</mat-icon>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="settings">
          <span *ngIf="!isCollapsed" class="text">Settings</span>
          <mat-icon class="icon">settings</mat-icon>
        </a>
      </li>
    </ul>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Header -->
    <div class="header">
      <div class="app-name">Employee and Department Management System</div>
      <div class="current-route">{{ selectedRoute }}</div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
